<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>A cerca de:</h2>
    <h3>Nombre: Nery Juan Luis Zacarias Fuentes </h3>
    <h3>Desarrollador</h3>
    <a href="{% url 'app1:administradores' %}">Administradores</a><br>
    <a href="{% url 'app1:estudiantes' %}">Estudiantes</a><br>
    <a href="{% url 'app1:home' %}">home</a><br>
</body>
</html>