{% extends 'estudiantes.html' %}
{% block titulo%}
	<title>Comentarios</title>
	{%endblock%}

    {% block encabezado%}
    <h1>Agregar Comentarios</h1>
    {%endblock%}

{% block contenido%}


{%csrf_token%}
{%if error%}
<h2> {{error}} </h2>
{%else%}
<div>
    <h3>Agregar un Comentario</h3>
    <form action="#" method="POST" enctype="multipart/form-data">
        <div>
            <div>{{form.contenido.label}} </div>
            <div>{{form.contenido}}</div>
        </div>
        <div>
            <div>{{form.nombre.label}} </div>
            <div>{{form.nombre}}</div>
        </div>
            <button type="submit" name="Enviar">Ingresar</button>
    </form>
</div>
<a href="{% url 'app1:listar_com' %}">Ver Listado de Comentarios</a>
{%endif%}
</form>

{% endblock%}