{% extends 'estudiantes.html' %}
{% block titulo%}
	<title>Administradores</title>
	{%endblock%}

    {% block encabezado%}
    <h1>Administradores</h1>
    {%endblock%}

{% block contenido%}

    {%csrf_token%}
    {%if error%}
    <h2> {{error}} </h2>
    {%else%}
    <div>
        <h3>Agregar un administrador</h3>
        <form action="#" method="POST" enctype="multipart/form-data">
            <div>
                <div>{{form.nombre.label}} </div>
                <div>{{form.nombre}}</div>
            </div>
            <div>
                <div>{{form.apellido.label}} </div>
                <div>{{form.apellido}}</div>
            </div>
            <div>
                <div>{{form.direccion.label}} </div>
                <div>{{form.direccion}}</div>
            </div>
                <button type="submit" name="Enviar">Ingresar</button>
        </form>
        <a href="{% url 'app1:listar_adm' %}">Ver Listado de Administradores</a>
    </div>
    {%endif%}
</form>
{% endblock%}