<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Estudiantes</h1>
    <tr>     
        <th>1</th>      
        <td>Nery</td>      
        <td>Ingenieria en Sistemas</td>      
      </tr>
<br>
      <tr>
          <th>2</th>      
          <td>Orozco</td>      
          <td>Ingenieria Civil</td>      
      </tr>
<br>
    <a href="{% url 'app1:creditos' %}">A cerca De:</a><br>
    <a href="{% url 'app1:administradores' %}">Administradores</a><br>
    <a href="{% url 'app1:home' %}">home</a><br>
</body>
</html>