{% extends 'estudiantes.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Estudiantes</title>
</head>

{% block contenido%}
    <h1>Listado de Articulos</h1>    
<table border="1">
    <tr>
        <th>Titulo</th>
        <th>Creación</th>
        <th>Contenido</th>
        <th>Estudiante</th>
        <th>Admin</th>
    </tr>
    {% for est in object_list%}
<tr>
    <th>{{est.titulo}}</th>
    <th>{{est.creacion}}</th>
    <th>{{est.contenido}}</th>
    <th>{{est.nombre}}</th>
    <th>{{est.admin}}</th>
</tr>

{% endfor %}
</table>


    {% endblock%}
</html>