{% extends 'estudiantes.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Estudiantes</title>
</head>

{% block contenido%}
    <h1>Listar Estudiantes</h1>    
<table border="1">
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Dirección</th>
    </tr>
    {% for est in object_list%}
<tr>
    <th>{{est.nombre}}</th>
    <th>{{est.apellido}}</th>
    <th>{{est.direccion}}</th>
</tr>

{% endfor %}
</table>


    {% endblock%}
</html>